<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%#= values.name %></title>
    <%- include("../__bootstrap.ejs")%>
</head> 
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Capnin Admin</h1>
          <p class="lead">Edit product here</p>
        </div>
      </div>
    <%- include("../__form_product.ejs")%>
</body>
</html>