<footer>
    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
    <br><br>
    &copy;2020 by Capnin.Proudly bought by Kanishk Ranjan
</footer>

<style>
    footer {
        text-align: center;
        padding: 35px 0 50px 0;
    }

    footer a {
        font-size: 15px;
        color: #000000;
        margin: 0 5px;
    }

</style>