<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./client/utils/__head.ejs",{
        "title":"404 not found",
        "cssPath":"./css/page404.css"
        })  %> 
    <meta name="description" content="Page not found on capnin">
    <meta name="author" content="Kanishk Ranjan"></meta>
</head>
<body>
    <%- include("./client/utils/__nav.ejs")  %> 
    <div class="container">
        <div class="header">
            <h1>4
                <span></span>
                4
            </h1>
        </div>
        <div class="information">
            Sorry the page you are looking does not exist,have been removed,name changed,temporarily unavailable or the link is invalide
            
        </div>
        <div class="homeIcon">
            <a href="/">back to homepage</a>
        </div>
    </div>
</body>
</html>